# Copy isi file ini ke PROJECT_ROOT/.env.custom

CUSTOM_EXPORT_PLAN=d(DAILY_1);d(DAILY_2);d(DAILY_3);m(MONTHLY_1);y(YEARLY_1)

CUSTOM_DAILY_1_DATE=01/04/2026
CUSTOM_DAILY_2_DATE=02/04/2026
CUSTOM_DAILY_3_DATE=04/04/2026

CUSTOM_MONTHLY_1_START_DATE=01/04/2026
CUSTOM_MONTHLY_1_END_DATE=30/04/2026

CUSTOM_YEARLY_1_START_DATE=01/01/2026
CUSTOM_YEARLY_1_END_DATE=30/04/2026

MULTI_PERIOD_ACCURATE_FROM_MONTH=May
MULTI_PERIOD_ACCURATE_FROM_YEAR=2026
MULTI_PERIOD_ACCURATE_TO_MONTH=June
MULTI_PERIOD_ACCURATE_TO_YEAR=2026

ACCURATE_CUSTOM_EXPORT_FILE_PREFIX=ksc_custom_
